body {
  font-family:"Arial Narrow";
  background-size: cover;
  background-color: #ece3d4;
}


.app{
  background-color: #ece3d4;
  background-size: cover;
}


.navbar{
  background:#dabdb4;
  box-shadow:0px 1px 10px 10px #ddd;
  height:auto;
  text-align:center;
  width:100%;
}
.navbarbullet{
  display:inline;
}
.navlink{
  color:#f7f4ee;
  display:inline-block;
  height:60px;
  line-height:60px;
  margin:0px;
  padding:0px 15px;
  text-decoration:none;
  transition: color 0.3s ease-in;
}
.navlink:hover {
  color:#605c59;
}

/* sunsalutation gallery  */
.sun-gallery-wrapper{
  background: #ece3d4;
 
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-wrapper{
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: rotate 30s linear infinite;
}

@keyframes rotate{
  0%{
    transform: perspective(1000px) rotateY(0deg);
  }
  100%{
    transform: perspective(1000px) rotateY(360deg);
  }
}

@keyframes rotatehover{
  0%{
    transform: perspective(100px) rotateY(0deg)
  }
  100%{
    transform: perspective(100px) rotateY(0deg);
  }
}

.sun{
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  /* transform: rotateY(calc(12)*30deg) translateZ(350px); */
  transform: rotateY(90deg) translateZ(350px);
}

.slider-wrapper img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  object-fit: cover;
  transition: 2s;
}

.slider-wrapper:hover img{
  transform: translateY(-50px) scale(1.2);
}
#gratitude{
  height: 150px;
  width: 180px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin:20px 20px 0px 20px;
  padding: 15px;
  background-color: #f7f4ee;
  border-radius: 25px;

}
.grat{
  background-color: #dabdb4;
  border-radius: 25px;
  display: inline-block;
  text-align: center;
  width: 250px;
  height: 250px;
  margin: 20px;
}
.buttons{
  margin: 0;
  padding: 0;

}